// Variables

// Color system
// Gray colors
$white:    #ffffff;
$black:    #000000;
$gray-1:   #181818;
$gray-2:   #696969;
$primary:  #ffc700;
$primary-dark: #dbaa03;
$secondary: #3BDE7C;

// Body
$body-bg: $gray-1;
$body-color: $white;
